@media (min-width: 300px) and (max-width: 690px) {
	#promo{
		height: 540;
	}
	.promo_buttons ,
	.promo_logo {
		margin: auto;
		display: block;
		text-align: center;
		float: none;
		margin-top: -40px;
	}
	.promo_text1{ 
		font-size: 30px;
	}
	.promo_logo {
		margin-top: 50px;
	}
	.promo_logo li{
		font-size: 20px;
	}
	.promo_text {
		margin-top: -250px;
	}

	.steps {
		display: inline;
	}
	.step1 {
		display: block;
		margin: 100px;
		
	}
	.step2 {
		display: block;
		
	}
	.step3 {
		display: block;
		
	}
}